<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> 
  <title>Chỉnh sửa thông tin</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <form action="/save" method="get" style="margin-top: 5%;margin-left: 5%;">
    <table>
       <tr>
         <td>
           Họ tên:
         </td>
         <td> 
           <input class="input-form size-input" name="HoTen" type="text" required />
         </td>
       </tr>
       <tr>
         <td>
           Ngày Sinh:
         </td>
         <td> 
            <input class="input-form size-input" name="NgaySinh" type="date" required />
         </td>
       </tr>   
       <tr>
        <td>
          Avata:
        </td>
        <td> 
          <input class="input-form size-input" name="Avata" type="file" accept=".jpg" required />
        </td>
      </tr>  
       <tr>
        <td>
                         
        </td>
         <td style= "text-align:center"> 
          <input class="btn btn-success"  type="submit" value="Save"/>
           <input class="btn btn-danger"  type="button" onclick="location.href='/'" value="Back"/>
         </td>
       </tr>    
       </table>
    </form>
</body>
<style>
  .size-input{
      width: 350px;
      height: 30px;
     
   }
  </style>
   
</html>